<!--Bootstrap card styling split to simplify organization of divs-->
<!--This html populates the content section of each card-->
<!-- aria-controls used to hide/display based on nav components in _output_tab_nav.html -->
<!-- bar_index inherited from final_crawl.html -->
<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-overview{{bar_index}}" role="tabpanel" aria-labelledby="v-pills-overview-tab">
       <div class="row">
          <h4>{{ bar.name}}</h4>
       </div>
       <div class = "row">
          <small>{{ bar.address}}</small>
       </div>
       <div class = "row justify-content-between">
         <div class="col-md-4">
            Price: {{prices[bar_index]}}
         </div>
         <div class="col-md-4">
            {{ratings[bar_index]}}
        </div>
        <div class="col-md-4">
          <span class="badge badge-primary badge-pill text-wrap">{{ bar.cat_title1}}</span>
        </div>
       </div>
    </div>
    {% if bar.deals.count() > 0 %} <!-- Only populate deal tab if deals exist in db -->
    <div class="tab-pane fade" id="v-pills-deals{{bar_index}}" role="tabpanel" aria-labelledby="v-pills-deals-tab">
        <ul class="list-group">
          {% for deal in bar.deals %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ deal.deal_name}}
          </li>
          {% endfor %}
        </ul>
    </div>
    {% endif %}
  </div>