<!--Bootstrap card styling split to simplify organization of divs-->
<!--This html populates the content section of each card-->
<!-- aria-controls used to hide/display based on nav components in _output_tab_nav.html -->
<!-- bar_index inherited from final_crawl.html -->
<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-overview{{bar_index}}" role="tabpanel" aria-labelledby="v-pills-overview-tab">
       <div class="row">
          <h4>{{ bar.name}}</h4>
       </div>
       <div class = "row">
          <small><a href="https://www.google.com/maps/search/?api=1&query={{bar.name | urlencode}}+{{bar.address | urlencode}}">{{ bar.address}}</a></small>
       </div>
       <div class = "row justify-content-between">
         <div class="col-md-4">
            Price: {{prices[bar_index]}}
         </div>
         <div class="col-md-4">
            {{ratings[bar_index]}}
        </div>
        <div class="col-md-4">
          <span class="badge badge-primary badge-pill text-wrap">{{ bar.cat_title1}}</span>
        </div>
       </div>
    </div>
  </div>