<div class="tab-content" id="v-pills-tabContent">
    <div class="tab-pane fade show active" id="v-pills-overview{{loop.index0}}" role="tabpanel" aria-labelledby="v-pills-overview-tab">
       <div class="row">
          <h4>{{ bar.name}}</h4>
       </div>
       <div class = "row">
          <small>{{ bar.address}}</small>
       </div>
       <div class = "row justify-content-between">
         <div class="col-md-4">
            Price: {{prices[loop.index0]}}
         </div>
         <div class="col-md-4">
            {{ratings[loop.index0]}}
        </div>
        <div class="col-md-4">
          <span class="badge badge-primary badge-pill">{{ bar.cat_title1}}</span>
        </div>
       </div>
    </div>
    {% if bar.deals.count() > 0 %}
    <div class="tab-pane fade" id="v-pills-deals{{loop.index0}}" role="tabpanel" aria-labelledby="v-pills-deals-tab">
        <ul class="list-group">
          {% for deal in bar.deals %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
              {{ deal.deal_name}}
          </li>
          {% endfor %}
        </ul>
    </div>
    {% endif %}
  </div>