{% extends "base.html" %}

{% block app_content %}
<main style="color: aliceblue;">
    <h1 class="display-4" style="margin-top: 5%;">Reset Your Password</h1>
    <div class="col-md-4">
        <form method="POST">
            {{ form.hidden_tag() }}    
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(size=20, class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password2.label }}
                {{ form.password2(size=20, class="form-control") }}
            </div>
            {{form.submit(class="btn btn-secondary")}}
        </form>
    </div>
</main>
{% endblock %}
